* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.header {
    height: 80px;
    background-color: #2d3236;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tickets-filter {
    height: 60%;
    width: 24%;
    background-color: #b2bec3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filter {
    height: 37%;
    width: 13%;
    border-radius: 7px;
    opacity: .8;
    transition: transform .5s;
}

.filter:hover {
    opacity: 1;
    transform: scale(1.2);
}

.red {
    background-color: #d63031;
}

.blue {
    background-color: #0984e3;
}

.green {
    background-color: #00b894;
}

.yellow {
    background-color: #fdcb6e;
}

.black {
    background-color: #2d3436;
}

.ticket-actions {
    width: 8%;
    height: 60%;
    background-color: #b2bec3;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ticket-actions div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.ticket-actions div:hover {
    background-color: #636e72;
}

.ticket-actions i {
    font-size: 21px;
}

.tickets-container {
    height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    grid-gap: 30px;
}

.ticket-modal {
    top: 35%;
    position: absolute;
    height: 300px;
    width: 400px;
    left: calc(50vw - 200px);
    display: flex;
}

.ticket-text {
    width: 70%;
    height: 100%;
    background-color: beige;
    outline: none;
    padding: 10px;
    font-size: 25px;
    overflow: auto;
}

.ticket-filters {
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ticket-filter {
    height: 10%;
    width: 63%;
    opacity: .7;
}

.ticket-filter:hover {
    opacity: 1;
}

.selected-filter {
    border: 3px solid white;
    opacity: 1;
}

.ticket {
    /* background: aquamarine; */
    height: 150px;
    width: 250px;
    border: 1px solid lightgray;
}

.ticket-header {
    height: 10%;
    /* background: blue ; */
    border-bottom: 1px solid lightgray;
}

.ticket-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.ticket-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ticket-info div {
}

.ticket-value {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.active-filter{
    opacity: 1;
    border: 2px solid white;
    transform: scale(1.2);
}
