* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto',sans-serif;
}

body{
    font-size: .8rem;
}

.menu-options {
    height: 50px;
    background: aqua;
}

.formula-tab {
    height: 30px;
    background: yellow;
}

.cells {
    height: calc(100vh - 110px);
    overflow: auto;
    position: relative;
}

.sheets {
    height: 30px;
    background: aliceblue;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid;
    min-width: 70px;
    max-width: 70px;
    min-height: 25px;
    outline: none;
}

.top-left-cell {
    height: 25px;
    background: lightgray;
    width: 30px;
    position: absolute;
    z-index: 3;
}

.top-row {
    display: flex;
    top: 0px;
    position: absolute;
    left: 30px;
    z-index: 2;
    background: white;
}

.top-row-cell {
    min-width: 70px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
}

.left-col {
    position: absolute;
    top: 25px;
    z-index: 2;
    background: white;
}

.left-col-cell {
    border: 1px solid;
    width: 30px;
    text-align: center;
    height: 25px;
}

.all-cells {
    position: absolute;
    top: 25px;
    left: 30px;
}

.add-sheet {
    margin-left: 10px;
    margin-right: 10px;
}

.sheets-list {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid;
}

.sheet {
    border-right: 1px solid;
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-sheet {
    background: white;
}
